@charset "utf-8";

/*
Google advises not to include the fonts by default due to
heavy weight and I kinda agree. I will include this by
default, but if you find it too bearing, please feel free
to comment out this import and use your own system font.
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic|Noto+Sans:400,400italic");

@import url("addons/classes.css");

/*
comment this out if you only want to use classes instead of
letting material-typography override the default typography.
*/
@import url("addons/enforce-typography.css");
